.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  width: 100%; }

.auth-wrapper .auth-inner {
  width: 100%; }

.auth-wrapper.auth-basic {
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.auth-wrapper.auth-basic .auth-inner {
  max-width: 400px; }

.auth-wrapper .brand-logo .brand-text {
  font-weight: 600; }

.auth-wrapper .auth-footer-btn .btn {
  padding: 0.6rem !important; }

.auth-wrapper .auth-footer-btn .btn:not(:last-child) {
  margin-right: 1rem; }

.auth-wrapper .auth-footer-btn .btn:focus {
  box-shadow: none; }

.auth-wrapper .auth-bg {
  background-color: #fff; }

.dark-layout .auth-wrapper .auth-bg {
  background-color: #283046; }

@media (max-height: 825px) and (max-width: 991.98px) {
  .dark-layout .auth-wrapper .auth-inner {
    background-color: #283046; }
  .auth-wrapper .auth-bg {
    padding-top: 3rem;
    margin: auto 0; }
  .auth-wrapper .auth-inner {
    background-color: #fff; } }
